---
import { Icon } from 'astro-icon';
---

<header class='w-full py-4 border-b border-b-zinc-700 container mx-auto max-sm:px-2'>
  <div class='w-full flex flex-row justify-between'>
    <a href='mailto:suleymanbariseser@gmail.com'>
      <div class='flex flex-row items-center gap-x-3'>
        <Icon name='mdi:email-outline' width={24} />
        <span class='text-sm max-md:hidden'>suleymanbariseser@gmail.com</span>
      </div>
    </a>
    <div class='flex flex-row text-sm gap-x-3'>
      <a
        href='https://www.linkedin.com/in/suleymanbariseser/'
        target='_blank'
        rel='noopener noreferrer'
      >
        Linkedin
      </a>
      <span class=''>/</span>
      <a
        href='https://github.com/suleymanbariseser'
        target='_blank'
        rel='noopener noreferrer'
      >
        Github
      </a>
      <span class=''>/</span>
      <a
        href='https://medium.com/@suleymanbariseser'
        target='_blank'
        rel='noopener noreferrer'
      >
        Medium
      </a>
    </div>
  </div>
</header>
