---
import Avatar from './ui/Avatar.astro';
import Section from './Section.astro';
import Button from './ui/Button.astro';
---

<Section>
  <Avatar src='https://placehold.jp/150x150.png' />
  <p class='text-sm'>Süleyman Barış Eser</p>
  <h1 class='text-4xl'>Frontend Developer</h1>
  <a href='src/assets/resume.pdf' download='Resume'>
    <Button icon='download'>Resume</Button>
  </a>
</Section>
