---
import Avatar from './ui/Avatar.astro';
import Section from './Section.astro';
import Button from './ui/Button.astro';
---

<Section>
  <Avatar src='src/assets/avatar.jpeg' />
  <h1
    class='font-bold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-zinc-400 to-zinc-600 text-center'
  >
    Süleyman Barış Eser
  </h1>
  <p class='text-sm text-center'>
    Welcome to my portfolio website! I'm a frontend developer with a passion for
    creating beautiful and functional websites. Here you'll find a showcase of
    my recent projects, along with information about my skills and experience.
    Feel free to browse around and get in touch if you're interested in working
    together.
  </p>
  <a href='src/assets/resume.pdf' download='Resume'>
    <Button icon='ic:baseline-file-download'>Resume</Button>
  </a>
</Section>
