---
import type { Repo } from '../../utils/github';

interface Props {
  repo: Repo;
}

const { repo } = Astro.props;
---

<a
  href={repo.html_url}
  target='_blank'
  rel='noopener noreferrer'
  aria-label={`open the ${repo.name} repository on GitHub`}
>
  <div
    class='w-[250px] h-[250px] bg-zinc-900 border border-zinc-800 rounded-sm p-6 flex flex-col justify-center gap-y-2 hover:bg-zinc-800 transition-all'
  >
    <p class='font-bold text-zinc-100'>{repo.name}</p>
    <p class='text-xs overflow-ellipsis'>
      {repo.description ?? 'No description'}
    </p>
  </div>
</a>
